# === Database ===

POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123456
DB_HOST=db

# === Django ===

SECRET_KEY='secret'
DEBUG=True
ALLOWED_HOSTS='127.0.0.1,0.0.0.0,localhost'

# === GRPC ===
GRPC_SERVER_ADDRESS='grpc_server'
GRPC_SERVER_PORT='50051'

# === JWT ===
JWT_KEY=123
JWT_ALGORITHM='HS256'